html, body {
    height: 100%;
    width: 100%;
}

/* div {
    display: block;
} */

.button {
    /* width: 60px; */
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    /* appearance: auto;
    writing-mode: horizontal-tb; */
}

.row {
    margin: 8px 0;
}

.row input {
    width: 291;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}